*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.navbar{ 
    height: 80px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    background-color: #000000;
}
#menu{
    width: 60%;
    display: none;
    position: relative;
}
.navbar h1{
    color: #08d665;
    font-size: 20px;
    width: 40%;
    padding-left: 30px;
    padding-top: 13px;
}
.hide{
    display: none;
}
.close{
    position: relative;
    color: white;
    right: -168px;
    font-size: 20px;
    margin-top: 30px;
}
#menu li{
    width: 73%;
    float: right;
    height: 60px;
    position: relative;
    display: block;
    background-color: #08d665;
}
.navbar ul li {
    width: 70%;
    padding: 30px;
    position: relative;
    top: -8px;
    color: rgb(255, 254, 249);
}
/* .navbar ul li{
    display: flex;
    color: rgb(255, 254, 249);
} */

#menubtn button {
    width: 15%;
    top: 25px;
    transition: 1s;
    right: 50px;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    padding: 5px 5px;
    color: whitesmoke;
    border: 1px solid gray;
    background: transparent;
}

#close button{
    width: 15%;
    top: 25px;
    font-weight: 600;
    transition: 1s;
    right: -170px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    padding: 8px 10px;
    color: whitesmoke;
    outline: none;
    border: none;
    background: transparent;
}

/* NAVBAR ENDS */


.banner{
    height: 100vh;
    width: 100%;
    border-bottom: 1px solid transparent;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/nick-nice-gPm8h3DS1s4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content {
    margin-left: 15px;
    margin-right: 15px;
}
.banner-content h1{
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: #28a745;
    font-size: 35px;
    padding-bottom: 40px;
    padding-top: 100px;
}
.banner-content span,p{
    color: white;
}

.paragraph {
    margin-left: 15px;
    margin-right: 15px;
}

.paragraph p{
    border-left: 6px solid #28a745;
    padding-left: 15px;
    line-height: 30px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.buttons{
    height: 50px;
    max-width: 230px;
    margin: 90px auto;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: middle;
    transition:0.5s;
    background-color: #28a745;

}

.buttons a{
    color: white;
    text-align: center;
    padding-left: 16px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 25px;
}
.buttons button{
   padding: 4px 10px;
   background-color: white;
   margin-top: 8px;
   margin-left: 25px;
   border-radius: 5px;
   border: 1px solid transparent;
}
.buttons .fa{
    color: #28a745;
    font-size: 22px;
    font-weight: 800;
}
.pic-section{
    height: auto;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;
    background-color:  #000000;
}
.shape img{
    margin-top: 440px;
    position: relative;
}
.pic img{
    position: absolute;
    width: 93%;
    margin-top: -630px;
    margin-left: 12px;
    margin-right: 15px;
}
.text-fill{
   width: 90%;
   display: block;
   margin: 50px auto;
}
.text-fill strong{
    font-size: 80px;
    font-weight: 800;
   
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #171c1e;
    position: absolute;
    line-height: 27px;
    z-index: -1;
}
.bio h1{
    color: whitesmoke;
    padding-top: 90px;
    line-height: 50px;
    font-weight: 500;
}
.career small{
    font-weight: 500;
    color: #08d665 !important;
    font-size: 15px;
    padding-top: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
h2{
    color: #08d665;
    font-size: 38px;
    font-weight: 800;
}
.career span{
    color: white;
}
.exp p{
    border-left: 6px solid #28a745;
    padding-left: 12px;
    line-height: 30px;
    color: white;
    width: 100%;  
    font-size: 20px;
    margin-top: 30px;
}


.con-exp{
    background-color: #0B0D0E;
    height: auto;
    margin: 50px 0px;
    padding-bottom: 50px;
    border-radius: 4px;
}
.width{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.width h3{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 600;
}
.width p{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #28a745;
    font-weight: 800;
}
.width span{
    font-size: 18px;
    margin-top: 25px;
    color: #fff;
    line-height: 40px;
    font-weight: 500;
}
    
/* --CIRCLE-- */

.con-circle{
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
    margin-top: 80px;
}
.circular{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
    position: relative;
    transform: scale(1.5);
}
.circular .inner{
    
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background:  #0B0D0E;
    box-shadow: 0 1px 0 rgba(0,0,0,0.6);
    border-radius: 100%;
}
.skills{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}
.circular .numb{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 10;
    transform: translate(-50%, -50%);
}
.circular .bar{
    position: absolute;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    background:#fffef9;
    clip: rect(0px 100px 100px 50px);
}
.circle .bar .progress{
    position: absolute;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #28a745;
}
.circle .left .progress{
    z-index: 1;
    animation: left 4s linear both;
}
@keyframes left {
    100%{
        transform: rotate(180deg);
    }
}
.circle .right{
    z-index: 3;
    transform: rotate(180deg);
}
.circle .right .progress{
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right{
    100%{
        transform: rotate(120deg);
    }
}


/* CIRCLE_ENDS */


.career2 strong{
    font-size: 80px;
    font-weight: 800;
    padding-top: 80px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #171c1e;
    position: absolute;
    line-height: 27px;
    z-index: -1;
}

.career2 h2{
color: #08d665;
font-size: 40px;
font-weight: 800;
padding-top: 59px;
}
.career2 span{
color: white;
}

.tools-icon{
    display: block;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
}
/* .tools-icon .fa{
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #08d665;
    font-size: 32px;
    border: 1px solid transparent;
    color: white;
} */

.tools-icon img{
    width: 30%;
    margin-top: 50px;
}
.tools-skit{
    margin-top: 20px;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tools-skit small{
    color: rgb(77, 36, 77);
    font-size: 40px;
    margin-top: 30px;
    font-weight: 600;
}
.tools-skit p{
    margin-top: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    line-height: 40px;
    font-size: 22px;
    font-weight: 500;
    display: block;
}


.tools-skit1{
    margin-top: 20px;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tools-skit1 small{
    color: rgb(54, 54, 170);
    font-size: 40px;
    margin-top: 30px;
    font-weight: 600;
}
.tools-skit1 p{
    margin-top: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    line-height: 40px;
    font-size: 22px;
    font-weight: 500;
    display: block;
}

.tools-skit2{
    margin-top: 20px;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tools-skit2 small{
    color: rgb(240, 224, 240);
    font-size: 40px;
    margin-top: 30px;
    font-weight: 600;
}
.tools-skit2 p{
    margin-top: 30px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    line-height: 40px;
    font-size: 22px;
    font-weight: 500;
    display: block;
}



/* -- WORK PROGRESS -- */

.slide{
    /* display: flex; */
    width: 100%;
    transition: 0.5s;
    text-align: center;
}
hr{
    width: 80%;
    margin: 20px auto;
}
.refrence h1{
    padding-top: 40px;
    font-size: 33px;
    color: #08d665;
}
.interest-height {
    height: 580px;
    margin-top: 40px;
    border-top: 4px solid #08d665;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}
.w-background1{
    background-color: #0B0D0E;
    height: auto;
    margin: 50px 0px;
    padding: 15px;
    position: relative;
    border-radius: 4px;
}
.w-background{
    background-color: #0B0D0E;
    height: auto;
    margin: 50px 0px;
    padding: 15px;
    position: relative;
    border-radius: 4px;
}
.pht img{
    width: 100%;
}
.indicator{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.btb{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #fff;
}
.active{
    width: 25px;
}
.reviews-con{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.reviews img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        left: 0;
        top: 50%;
        margin: 0 auto;
        margin-top: 80px;
}
.reviews .fa{
    color: white;
    margin-top: 20px;
    font-size: 40px;
}
.reviews h4{
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    margin-top: 20px;

}
.reviews p{
    font-weight: 300;
    opacity: 0.6;
    font-size: 22px;
    margin-top: 20px;
}



.input0{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.input0 h3{
    font-size: 25px;
    font-weight: 600;
    color: #9da0a7;
    padding: 20px 5px;
}

.input{
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.input input{
    outline: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    margin-top: 20px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 5px;
}
.input1{
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.input1 input{
    outline: 0;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    margin-top: 20px;
    padding-bottom: 80px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}
.input2 input{
    font-size: 18px;
    line-height: 16px;
    padding: 10px 0;
    margin-top: 40px;
    display: block;
    width: 30%;
    margin: 30px;
    border: 1px solid #07cb79;
    color: whitesmoke;
    background: #07cb79;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}


.footer{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer h1{
    margin-top: 50px;
   font-size: 25px;
   font-weight: 600;
}
.footer p{
    margin-top: 10px;
    margin-bottom: 20px;
   font-size: 20px;
   font-weight: 400;
}



@media(max-width: 420px){
    .shape img{
        margin-top: 370px;
        position: relative;
    }
    .pht video{
        width: 300px;
    }
    .pic img{
        position: absolute;
        width: 93%;
        margin-top: -590px;
        margin-left: 12px;
        margin-right: 15px;
    }
    .career small{
    font-weight: 500;
    color: #08d665 !important;
    font-size: 16px;
    padding-top: 12px;
    font-weight: 600;
    text-transform: uppercase;
    }
    h2{
        color: #08d665;
        font-size: 32px;
        font-weight: 800;
    }
    .career span{
        color: white;
    }
    .text-fill strong{
        font-size: 50px;
        font-weight: 800;
        width: 40%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #171c1e;
        position: absolute;
        line-height: 27px;
        z-index: -1;
    }
}
